
    body {
    	background-image:url("debesis.jpg");
    }
    h1 {
    	color:purple;
    	font-size: 48px;
    	font-family: "Lucida Console";
    }
    p{
    	font-family:"Courier New";
    	font-size: 24px;
    	text-align: left;
    }
    .yo{
    	color:#cca300;
    }
    .keliones{
    	font-size: 16px;
    }
    .kokios{
    	color:#992600;
    	font-weight: bold;
    }
    .tvenas{
    	color:#661a00;
    }
    .oioioi{
        background-color:#997a00;
        font-size: 24px;
        vertical-align: middle;
        height:80px;
    }
    .oioioitext{
        vertical-align: top;
        height:26px;
    }
    #author{
    	color:#808080;
    	font-family:"Lucida Console";
    }
    a:hover
    {
        color:#dd0000;
        font-size: 60px;        
    }
table, th, td {
    border: 1px solid black;
}
table {
    margin:auto;
    text-align: center;

    }

       }
